*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{

    background:#0f172a;
    color:white;

}

header{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 8%;

    background:#111827;

    position:sticky;
    top:0;

}

.logo{

    font-size:30px;
    font-weight:bold;

    color:#60a5fa;

}

nav{

    display:flex;
    gap:25px;

}

nav a{

    color:white;
    text-decoration:none;

}

.btn{

    text-decoration:none;

    color:white;

    border:1px solid #3b82f6;

    padding:10px 20px;

    border-radius:8px;

    margin-left:10px;

}

.primary{

    background:#3b82f6;

}

.hero{

    text-align:center;

    padding:100px 20px;

}

.hero h1{

    font-size:52px;

    margin-bottom:20px;

}

.hero p{

    color:#cbd5e1;

    margin-bottom:35px;

}

.hero input{

    width:600px;
    max-width:90%;

    padding:16px;

    border-radius:30px;

    border:none;

    font-size:17px;

}

.section{

    width:90%;

    margin:auto;

    margin-top:60px;

}

.cards{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(230px,1fr));

    gap:30px;

    margin-top:25px;

}

.card{

    background:#1e293b;

    border-radius:15px;

    overflow:hidden;

    transition:.3s;

    cursor:pointer;

}

.card:hover{

    transform:translateY(-8px);

}

.cover{

    height:280px;

    background:#334155;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:22px;

}

.card h3{

    padding:15px;

}

.card p{

    padding:0 15px 20px;

    color:#cbd5e1;

}

footer{

    text-align:center;

    padding:40px;

    margin-top:80px;

    color:#94a3b8;

}